#audioPlayer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  /*background: #039be5;*/
  background: #F73EA7; /* fallback for old browsers */
  color: #FAEBD7;
  width: 100%;
  padding: 12px;
  height: 10vh;
}