#audioPlayer {
  position: fixed;
  bottom: 0;
/*  z-index: 10;
*/  /*background: #039be5;*/
  background: #F73EA7; /* fallback for old browsers */
  color: #FAEBD7;
  width: 100%;
  padding: 1vh;
  height: 5vh;
  display: -webkit-flex;
  font-size: -webkit-xxx-large;
  align-items: center;
  -webkit-align-items: center;
}

.audioContainer {
  padding-top: 5vh;
}