#footer {
  background-color: blue;
  color: white;
  font-size: 3vw;
  font-family: 'GT Haptik Medium';
  padding-right: 15vw;
  padding-left: 15vw;
  padding-top: 10vw;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 40vh;
  padding-bottom: 10vh;
}

.socialMediaIcons {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em;
  font-size: -webkit-xxx-large;
}

.centerIcons {
  display: inline-flex;
  justify-content:center;
  align-items:center;
}

#socialMediaIconsContainer {
  text-align: center;
}

#socialMediaIconsContainer a, #socialMediaIconsContainer a:link, #socialMediaIconsContainer a:visited, 
#socialMediaIconsContainer a:hover {color: white; text-decoration: none !important; border:0;}

#socialMediaIconsContainer a:hover {color: purple;}


@media screen and (max-width: 515px){
  #footer {
    margin-top: 10vh;
  }
  .socialMediaIcons {
    font-size: large;
  }
}
