@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GTHaptikMedium.otf');    
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GTHaptikMedium.otf');    
  font-style:   normal;
  font-weight:  700;
}

/* Ignore => Base Styles */
body { background: black; -webkit-font-smoothing: antialiased; }
.ScrollSceneIndicators { z-index: 9999999 !important; }
body {
    font-family: 'GT Haptik';
    display: block;
    margin: 0px;
}
/* Ignore => Useless Header Styles */
header {
  margin:0px;
  padding: 0px;
}

img#headerimg {
    height: 60vw;
    width: 60vw;
}

#headerImageContainer{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*remove this*/
#episode1 {
  width: 100vw;
  overflow: auto;
}

/*use this for all episodes*/
.episodes {
  width: 100vw;
  overflow: auto;
}

#episodesContainer {
  margin-bottom: 5vw;
}

div.pink{
  width:100vw;
  height: 10vh;
  background-color: #F73EA7;
  display: flex;
  display: -webkit-flex;
  font-size: -webkit-xxx-large;
}

.episodeImages {
  width: 100vw;
}

#headerImageContainer {
  margin:0px;
  padding: 0px;
}

.episodeText {
  color: white;
  padding: 0 5vw;
  font-size: 4vw;
}
.episodeListContainer{
  height: 40vh;
  width: 100vw;
  float: left;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}


.episodeListItem {
  flex-shrink: 0;
  color: black;
  font-size: 7vh;
  margin: 0 1vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  white-space:normal;
}

.backgroundPink {
  background-color: #F20AC9;
}

.backgroundPurple {
  background-color: #2E3192;
}

.episodesHeader{
  margin: 1vh 0;
}

@media screen and (min-width: 34.38em){
  .episodeText {
    font-size: 3vw;
  }

}

@media screen and (min-width: 50em){
  .episodeText {
    font-size: 2vw;
  }

}

