/* Ignore => Base Styles */
body { background: #e3e3e3; -webkit-font-smoothing: antialiased; }
.ScrollSceneIndicators { z-index: 9999999 !important; }

/* Ignore => Useless Header Styles */
header {
  background-image: url("/img/LazerEyesLogo-header.gif");
  height: 100vh; /* The div needs some height to be visible */
  width: 100vw;
}

#episode1 {
  background-image: url("/img/lazer eyes text.jpg");
  height: 100vh;
  width: 100vw;
}

#episodesContainer {
  margin-bottom: 10vh;

}

div.pink{
  width:100vw;
  height: 50vh;
  background-color: #F73EA7;
}









