/*  display: flex;
display: -webkit-flex;
  display: -webkit-flx;
  flex-flow: row wrap; 
  -webkit-flex-flow: row wrap;
  justify-content: space-around; 
  -webkit-justify-content: space-around;
  align-items: center; 
  -webkit-align-items: center;*/

.episodesHeader > a {
  text-decoration: none;
  color: white;
  font-size: 6vw;
}

.bm-burger-button {
  position: fixed;
  width: 75px;
  height: 75px;
  left: 36px;
  top: 36px;
}

/* General sidebar styles */
.bm-menu {
  background: black;
  padding: 3vh 12.5%;
  display: flex;
  border-right: 1vw solid #F20AC9;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
/* Wrapper for item list */
.bm-item-list {
  color: white;
  display: block;
  text-decoration: none;
  font-size: 4vw;
  margin-bottom: 1vh;
}

.bm-item-listA {
  color: white;
  display: block;
  text-decoration: none;
  font-size: 4vw;
  margin-bottom: 1vh;
}

.sideMenuItems {
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.lazerEyesMenuLogo {
  width: 100%;
}

.episodesHeader, .sideMenuItems {
  font-size: 6vw;
  font-family: 'GT Haptik Bold';
}

.songLink {
  font-size: 2.5vw;
  font-family: 'GT Haptik Regular';
  cursor: pointer;
  margin: 1\.5vh;
}

.songLink:hover, .currentlyPlayingSong {
  color: #F20AC9
}


@media screen and (min-width: 800px){
  .episodesHeader > a {
      font-size: 5vh;
  }

  .episodesHeader, .sideMenuItems {
      font-size: 5vh;
  }

  .lazerEyesMenuLogo {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .bm-item-list {
    font-size: 4vh;
    text-align: center;
    overflow: scroll;
  }

  .bm-item-listA {
    font-size: 4vh;
    text-align: center;
  }

  .songLink {
    font-size: 2.5vh;
    font-family: 'GT Haptik Regular';
  }
}

@media screen and (min-width: 650px){
}
