.bm-burger-button {
  position: fixed;
  width: 75px;
  height: 75px;
  left: 36px;
  top: 36px;
}

/* General sidebar styles */
.bm-menu {
  background: black;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  display: flex;
  border-right: 1vw solid #F20AC9;
  align-items: center;
  justify-content: center;
}
/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding: 1%;
  display: block;
  text-decoration: none;
  font-size: 2vw;
}

.sideMenuItems {
  display: flex;
  flex-direction: column;
}

.lazerEyesMenuLogo {
  margin: auto;
}